.card-primary{
    border-radius: 20px;
    border: 1px solid #E7F3FF;
    background: #FFF;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.titles{
    color: var(--primary-black, #242B32);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
}

.containerForm {
    position: relative;
    margin-bottom: 1rem;
}
.containerForm .labelForm {
    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
    font-style: normal;
    color:#242B32;
}
.form-control {
    display: block;
    width: 100%;
    padding: 20px;
    height: 46px;
    font-size: 14px;
    font-weight: 400;
    color: #666;
    border-radius: 16px;
    border: none;
    background: #F4F6FB;
    transition: .3s;
}

.coment-input{
    height: 200px;
}

hr{
    border-top: 1px solid #d1d1d1;
}

@media (prefers-reduced-motion: reduce) {
    .form-control {
        transition: none;
    }
    }
    .form-control[type=file] {
        overflow: hidden;
    }
    .form-control[type=file]:not(:disabled):not([readonly]) {
        cursor: pointer;
    }
    .form-control:focus {
        color: #444;
        background-color: #e9edf7;
        outline: 0;
        transition: .3s;
    }
    .form-control::-webkit-date-and-time-value {
        height: 1.5em;
    }
    .form-control::placeholder {
        font-size: 14px;
        color: #6B7C8E;
        font-weight: 400;
        opacity: 1;
    }
    .form-control:disabled, .form-control[readonly] {
        background-color: #EFF2F5;
        opacity: 1;
    }

    .labelForm.sm{
        font-size: 12px;
    }
    .text-small-grey{
        font-size: 10px;
        color: var(--grey);

    }


    .btnLogin {
        display: flex;
        width: 100%;
        height: 46px;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        border: none;
        outline: none;
        background: #2E9CFF;
        margin-top: 1.3rem;
        cursor: pointer;
    }
    .btn-grey {
        display: flex;
        width: 100%;
        height: 46px;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        font-size: 14px;
        font-weight: 400;
        color: #6B7C8E;
        border: none;
        outline: none;
        background: #F4F6FB;
        margin-top: 1.3rem;
        cursor: pointer;
    }
@media (max-width: 992px) {
    .containerForm .labelForm {
        font-size: 12px;
    }
    
    .btnLogin, .btn-grey {
        height: 42px;
        font-size: 12px;
    }
    
    
}

